@use 'variables'

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center

@mixin flex-space-between
    display: flex
    justify-content: space-between
    align-items: center

@mixin flex-space-around
    display: flex
    justify-content: space-around
    align-items: center

@mixin flex-space-evenly
    display: flex
    justify-content: space-evenly

@mixin flex-end
    display: flex
    justify-content: flex-end

@mixin flex-start
    display: flex
    justify-content: flex-start

@mixin flex-column-center
    display: flex
    flex-direction: column
    align-items: center
    
@mixin gap
    display: flex
    gap: 1rem

@mixin gap-center
    display: flex
    gap: 2rem
    align-items: center
    justify-content: center

@mixin flex-wrap
    display: flex
    flex-wrap: wrap
    padding: 2rem 0

@mixin padding-top
    padding: 10rem 0 5rem 0

