@use 'variables'

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center

@mixin flex-align-center
    display: flex
    align-items: center

@mixin flex-space-between
    display: flex
    justify-content: space-between
    align-items: center

@mixin flex-space-between-top
    display: flex
    justify-content: space-between

@mixin flex-space-around
    display: flex
    justify-content: space-around
    align-items: center

@mixin flex-space-evenly
    display: flex
    justify-content: space-evenly

@mixin flex-end
    display: flex
    justify-content: flex-end

@mixin flex-start
    display: flex
    justify-content: flex-start

@mixin flex-column-center
    display: flex
    flex-direction: column
    align-items: center

@mixin flex-column-center-reverse
    display: flex
    flex-direction: column-reverse
    align-items: center

@mixin flex-column
    display: flex
    flex-direction: column

@mixin gap
    display: flex
    gap: 1rem

@mixin gap-center
    display: flex
    gap: 2rem
    align-items: center
    justify-content: center

@mixin flex-wrap
    display: flex
    flex-wrap: wrap
    padding: 2rem 0

@mixin flex-wrap-center
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

@mixin padding-top
    padding: 10rem 0 2rem 0

@mixin smaller-padding-top
    padding: 8rem 0 2rem 0

@mixin borders
button, textarea, input
    border: 1px  solid variables.$cherry-color
    border-radius: 5px

@mixin border-radius
.modal-image img, .agenda-information img, .grid-images, .grid-images img, .image-container img, iframe, .news-image img
    border-radius: 5px

@mixin margin-auto
body, html, .container, .slideshow, .page-title-container, .fixed-image-opacity-box, .gallery-header p, .grid-container, .tab-content-body, .youtube-embed, .youtube-consent-container
    margin: 0 auto


@media (prefers-color-scheme: dark) 
    html, body 
        background-color: #ffffff
        color-scheme: light


.banner 
    @include theme-colors($light-theme: true)
    
    body.dark & 
        @include theme-colors($light-theme: false)

@mixin animation
    @keyframes appear 
    from
        opacity: 0
        scale: 0.5

    to
        opacity: 1
        scale: 1

    .animation-block
        animation: appear linear
        animation-timeline: view()
        animation-range: entry 30%

  


