$main-background-color: #c6c6c6c6
$font-family: "Jost", serif
$font-optical-sizing: auto
$font-weight-light: 100
$font-weight-medium: 300
$font-weight-bold: 500
$font-weight-bolder: 900
$font-style: normal
$font-size-small: clamp(1rem, 0.938rem + 0.333vw, 1.25rem)
$white-font-color: #F2F2F2