$main-background-color: rgb(242, 242, 242)
$navbar-background-color: rgb(237, 237, 237)
$orange-color: rgb(242, 96, 11)
$orange-color-lighter: rgb(255, 219, 198)
$dark-orange: rgb(67, 24, 0)
$bic-blue: rgb(2, 9, 115)
$dark-blue: rgb(2, 2, 35)
$black: rgb(0, 0, 0)
$cherry-color: rgb(115, 2, 54)
$dark-cherry-color: rgba(32, 0, 15, 1)
$dark-cherry-color-darker-opacity: #20000fc5
$cherry-color-lighter: #ffecf5
$dark-cherry-color-opacity: rgba(32, 0, 15, 0.1)
$opacity-color-hover: rgba(242, 242, 242, 0.101)
$black-opacity-color-hover: rgba(0, 0, 0, 0.468)
$font-family: "Jost", serif
$font-optical-sizing: auto
$font-weight-light: 100
$font-weight-medium: 200
$font-weight-bold: 500
$font-weight-bolder: 900
$font-style: normal
$font-size-small: clamp(1rem, 0.938rem + 0.333vw, 1.25rem)
$font-size-medium: clamp(1rem, 0.596rem + 2.154vw, 2.75rem)
$font-size-mobile: clamp(1.25rem, 0.333rem + 4.889vi, 4rem)
$font-size-text-component: clamp(1rem, 0.75rem + 1.333vw, 2rem)
$white-font-color: #F2F2F2
$breakpoint-xxl: 1400px
$breakpoint-xl: 1200px
$breakpoint-lg: 992px
$breakpoint-md: 768px
$breakpoint-sm: 576px
$breakpoint-xs: 382px

$light-background: #f2ece4
$light-text: #036
$dark-background: #e9e9e9
$dark-text: #d2e1dd