@use 'variables'
@use 'mixins'

body, html
    margin: 0 auto
    background-color: variables.$main-background-color
    font-family: variables.$font-family

ul 
    margin: 0
    padding: 0
    
    li
        font-size: variables.$font-size-small
        list-style-type: none
        text-transform: uppercase

    a
        text-decoration: none
        font-weight: variables.$font-weight-light
        color: variables.$white-font-color

svg
    color: variables.$white-font-color

.container
    width: 100vw

.navbar-container, nav
    @include mixins.flex-space-around

.navlinks-props
    @include mixins.gap-center

.navbar-container
    @include mixins.flex-wrap

.navbar-container, .navbar-mobile-container
    position: fixed
    z-index: 2

.navigation-social-media
    @include mixins.gap

.navbar-mobile-container
    display: none

    .navbar-mobile-content
        @include mixins.flex-space-between
        width: 90vw
        position: absolute
        border: 1px solid red
        padding: 2rem 0
        top: 8vh
        left: 50%
        transform: translate(-50%, -50%)

    .navbar-mobile
        background-color: rgba(37, 1, 1, 0.6)
        width: inherit

.homepage-container
    width: 100%
    height: 100vh

.slideshow
    margin: 0 auto
    overflow: hidden
    max-width: 100%

    .slideshowSlider
        white-space: nowrap
        transition: ease 1000ms

        .slide
            width: 100%
            height: 100vh
            display: inline-block

            img
                width: inherit
                height: inherit
                object-fit: cover
                object-position: center

    .slideshowDots
        text-align: center

        .slideshowDot
            display: inline-block
            height: 20px
            width: 20px
            border-radius: 50%
            cursor: pointer
            margin: 15px 7px 0
            background-color: #c4c4c4

        .active
            background-color: #6a0dad

// Media Queries

@media screen and (max-width: variables.$breakpoint-lg)
    .navbar-mobile-container
        display: block

        nav ul li
            font-size: variables.$font-size-mobile

            a
                font-weight: variables.$font-weight-medium

    .navbar-container
        display: none

    .navlinks-props
        @include mixins.flex-column-center
        gap: 3rem
        height: 100vh

@media screen and (min-width: variables.$breakpoint-sm) and (max-width: variables.$breakpoint-lg)
    .logo
        img
            width: 30vw

@media screen and (max-width: variables.$breakpoint-sm)
    .logo
        img
            width: 40vw

        




