@use 'variables'
@use 'mixins'

.article-page
    margin-top: 15rem
    height: 100vh

body, html
    /*margin: 0 auto
    background-color: variables.$main-background-color
    font-family: variables.$font-family
    max-width: 100%
    min-height: 100vh
    overflow-x: hidden
    scroll-behavior: smooth

h1, h2, h3, h4, h5
    font-weight: 450

ul 
    margin: 0
    padding: 0
    
    li
        font-size: variables.$font-size-small
        list-style-type: none
        text-transform: uppercase

        a
            color: variables.$white-font-color

            &:hover, &:active
                font-weight: variables.$font-weight-bold
                transition: 0.5s ease-in
                color: variables.$dark-cherry-color


.btn-container 
    @include mixins.flex-center
    position: relative
    z-index: 3

    button
        border: none
        background: none
        padding: 0 0.5rem
        /*color: white

        &:hover, &:active
            font-weight: variables.$font-weight-bold
            transition: 0.5s ease-in
            color: variables.$dark-cherry-color
            background-color: transparent
            
p
    line-height: 2
    white-space: pre-wrap
    font-size: clamp(1rem, 0.643rem + 0.952vw, 1.2rem)
    font-weight: 250
    text-align: justify
    

a
    text-decoration: none
    font-weight: variables.$font-weight-medium
    text-transform: uppercase
    color: variables.$cherry-color

img
    object-fit: cover
    object-position: center
    cursor: pointer

.changeLinkColor 
    color: white

button, textarea, input
    width: fit-content
    padding: 0 2rem
    cursor: pointer


    &:hover
        background-color: variables.$cherry-color

    a
        color: variables.$cherry-color

.forward-icon
    transform: rotate(180deg)

.landpage-animation-box
    border: 0.5px solid variables.$white-font-color
    padding: 2rem 3rem
    position: absolute
    z-index: 2
    top: 90%
    left: 50%
    transform: translate(-50%, -50%)
    text-transform: uppercase
    text-align: center

    a
        color: variables.$white-font-color
        font-weight: variables.$font-weight-light


.navigation-buttons
    @include mixins.gap
    width: auto
    padding: 8rem 0 0 4rem
    position: fixed
    z-index: 4
    margin: 0 auto

.arrow
    @include mixins.flex-align-center
    cursor: pointer

.icon, .arrow
    &:hover
        filter: brightness(0) saturate(100%) invert(41%) sepia(69%) saturate(2264%) hue-rotate(357deg) brightness(97%) contrast(96%) !important

.logo 
    img
        width: 18vw

.footer-logo img
    width: 15vw

svg
    color: variables.$white-font-color

.container
    width: 100vw
    /*margin: 0 auto

.navbar-container, nav
    @include mixins.flex-space-around

.colorChange
    /* background-color: rgb(255, 255, 255) */ 
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)  */
    backdrop-filter: blur(10px) 
    transition: background 0.3s ease
    color: variables.$cherry-color

.navlinks-props
    @include mixins.gap-center

.navbar-container
    @include mixins.flex-wrap
    width: 100vw
    

.navbar-container, .navbar-mobile-container
    position: fixed
    z-index: 10
    

.navigation-social-media
    @include mixins.flex-space-evenly
    width: 18vw

.navbar-mobile-container
    display: none
    position: relative
    z-index: 6
    width: 100vw
    background: rgba(255, 255, 255, 0.26)
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
    backdrop-filter: blur(20px)
    -webkit-backdrop-filter: blur(20px)


    .navbar-mobile-content
        @include mixins.flex-space-between
        width: 100vw
        height: 5rem
        position: absolute
        top: 4vh
        left: 50%
        transform: translate(-50%, -50%)
        background-color: white
        z-index: 3

        .mobile-logo, .mobile-menu
            position: relative
            top: 0.5rem

        .mobile-logo
            padding-left: 2rem

        .mobile-menu
            padding-right: 2rem

    .navbar-mobile
        /* background-color: rgba(37, 1, 1, 0.6) */
        width: inherit
        

        a
            font-weight: 300

        .lng-selector-mobile
            position: relative
            top: 10vh
            height: auto

            hr
                width: 50%

            .social-media-mobile
                @include mixins.flex-space-evenly
                width: 50%
                padding: 2rem
                margin: 0 auto

        .navbar-mobile-active
            @include mixins.flex-column
            height: 100vh

.language-selector
    position: fixed
    top: 0
    right: 5rem
    z-index: 3
    padding: 1rem

.homepage-container
    width: 100%
    height: 100vh

.slideshow
    overflow: hidden
    max-width: 100%

    .slideshowSlider
        white-space: nowrap
        transition: ease-in 2000ms

        .slide
            width: 100%
            height: 100vh
            display: inline-block

            img
                width: inherit
                height: inherit
                object-position: center
                object-fit: cover
                background-position: top

    .slideshowDots
        text-align: center

        .slideshowDot
            display: inline-block
            height: 20px
            width: 20px
            border-radius: 50%
            cursor: pointer
            margin: 15px 7px 0
            background-color: #c4c4c4

        .active
            background-color: #6a0dad

footer
    margin-top: auto

.footer-container, .copyright-container
    @include mixins.flex-space-between
    background-color: variables.$dark-cherry-color
    color: variables.$white-font-color
    position: relative
    z-index: 2

    h3
        color: variables.$white-font-color
        font-weight: 100

    .footer-content
        @include mixins.flex-space-between
        width: inherit
        padding: 0 5rem

        .footer-icons
            @include mixins.flex-space-between
            width: 30vw
            padding-bottom: 1.5rem 


.listen-container, .contact-container
    @include mixins.gap

.copyright-container
    display: flex
    justify-content: center

    section
        @include mixins.flex-column-center
        width: 90vw
        gap: 1rem
        padding: 1rem 0
        border-top: 1px solid variables.$cherry-color

        a
            color: variables.$white-font-color

.grid-container
    @include mixins.flex-center
    padding-top: 4rem

    .grid-content
        width: 90vw

        .grid
            position: relative

            .grid-label
                position: absolute
                top: 2rem
                right: 0
                border-bottom: 4px solid variables.$cherry-color
                color: variables.$white-font-color
                text-align: center
                background-color: transparent
                font-family: inherit
                z-index: 1

            :hover
                background-color: variables.$opacity-color-hover
                opacity: 0.7
                color: black

.modal 
    position: fixed
    background-color: rgba(0, 0, 0, 0.15)
    display: flex
    flex-direction: column
    align-items: center
    z-index: 50
    top: 0
    left: 0
    right: 0
    height: 100vh
    transition: opacity 250ms ease
    
    
    /*padding-top: 20vh

    &:target
        opacity: 1
    

    .modal-close-button
        @include mixins.flex-end
        cursor: pointer
        width: inherit


    .modal-content 
        width: 90vw
        background-color: variables.$main-background-color
        border-radius: 15px
        height: auto
        padding: 2rem 
        overflow-y: scroll
        position: relative
        z-index: 100
        margin-top: 10rem
        

        .modal-content-wrap
            display: flex
            width: inherit
            
            /* height: inherit */

        .modal-text
            h2
                border-bottom: 4px solid variables.$cherry-color
                width: fit-content     

        .modal-image, .modal-text 
            width: 50%
            padding: 1rem


            .grid-modal-images
                /* position: relative */
                @include mixins.flex-wrap-center
                width: 100%
                gap: 2rem
                
            img
                width: 45%
                height: auto
                -webkit-box-shadow: 0px 0px 23px -2px rgba(41, 41, 41, 0.82)
                box-shadow: 0px 0px 23px -2px rgba(41, 41, 41, 0.82)

                .modal-image1, .modal-image2, .modal-image3
                    width: 50%
                    height: auto

/*             .modal-image1
                position: absolute
                left: 0 */

/*             .modal-image2
                max-width: 25vw
                position: absolute
                left: 4rem
                top: 16rem
                z-index: 2 */
                

/*             .modal-image3
                max-width: 27vw
                position: absolute
                right: 4rem
                top: 5rem */
.lightbox-news
    .yarl__navigation_next, .yarl__navigation_prev
        display: none

/* Page title css */

.page-title-container
    width: 90vw
    height: auto
    z-index: 1
    display: flex
    justify-self: flex-start
    padding: 9rem 0 2rem 0
    position: relative
    z-index: 2

    .title
        position: absolute  
        width: fit-content    
        z-index: inherit 
        /* opacity: 0.2 */

        h3
            font-weight: 400  
            color: variables.$cherry-color
            text-transform: uppercase
            letter-spacing: 0.3rem

        
.fixed-bg-image-container
    position: relative
    width: 100%

    .fixed-image-opacity-box
        width: 100vw
        top: 0
    .fixed-bg
        @include mixins.flex-center
        position: fixed
        top: 0
        left: 0
        bottom: 0
        width: 100%
        z-index: 1

    img
        width: inherit
        object-fit: contain
        background-position: center

.gallery-header
    position: relative
    z-index: 2
    width: auto
    /*height: 60vh

    p
        @include mixins.flex-center
        color: variables.$white-font-color
        width: inherit
        height: 80vh
        font-size: variables.$font-size-medium
        font-weight: 300
        margin: 0 auto
        text-align: center
        padding: 0 0.1rem

.gallery-container
    display: flex
    width: 100%
    position: relative
    z-index: 2
    background-color: variables.$main-background-color

    .image-description
        position: absolute
        bottom: 0
        left: 0
        right: 0
        background-color: rgba(0, 0, 0, 0.7)
        color: white
        padding: 8px
        text-align: center
        opacity: 0
        transition: opacity 0.3s ease
        z-index: 5

        &:hover 
            opacity: 1

/* .image-content
    width: 100%
    height: auto
    position: fixed
    top: 0
    left: 0 */


.image-content
    width: 100%
    height: auto
    position: absolute
    top: 0
    left: 0 

    img
        width: inherit
        height: 100%
        object-fit: cover 
        opacity: 0.2
        object-position: top


.agenda-container

    .agenda-content
        @include mixins.flex-column-center

        .agenda-information
            @include mixins.flex-space-between-top
            width: 90vw
            border-bottom: 1px solid variables.$dark-cherry-color-opacity
            padding: 2rem 

            img
                width: 35%
                height: 50vh
                object-fit: cover

            .agenda-information-place-time
                @include mixins.flex-column
                width: 55vw

                p
                    margin-top: 0

                .agenda-date-time
                    @include mixins.gap
                    align-items: flex-start
                    width: auto
                    color: variables.$dark-blue

                button 
                    .ticket
                        display: none

                button:hover
                    transform: scale(1.1)
                    transition: 0.5s ease-in

                    .ticket
                        display: block
                    
                    h4
                        display: none

                h3
                    margin: 0 0 1rem 0

.contact-form-container 

    form
        @include mixins.flex-column
        gap: 2rem
        text-align: left 

        .contact-inputs, .contact-label
            @include mixins.flex-column
            gap: 1rem

        input, textarea, .contact-button
            width: inherit
            height: 2rem

        textarea
            min-height: 5rem

        label
            text-transform: uppercase

        button
            background-color: variables.$cherry-color
            color: variables.$white-font-color
            min-width: 20vw
            align-self: flex-end

            &:hover
                background-color: variables.$white-font-color
                color: variables.$cherry-color
                border: 1px solid 


.contact-container
    display: block

    .icon
        padding: 0.5rem

    .contact-content
        display: flex
        padding-top: 2rem


        .contact-logo
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0.08 

        .contact
            @include mixins.flex-column
            position: relative  

            .contact-text-container
                padding: 0 0 2rem 2rem

                p
                    margin-top: 0

        .contact-form 
            background-color: variables.$navbar-background-color
            border-radius: 10px 0 0 0 

        .contact, .contact-form
            width: 50vw
            padding: 2rem     

            input, textarea
                &:hover
                    background-color: variables.$white-font-color
                    border: 1px solid 

/* BiografiaGrid */

.biografia-white-box
    padding: 5rem 0
    background-color: variables.$white-font-color
    opacity: 1
    position: relative
    z-index: 2
    text-align: center
    text-transform: uppercase
    margin: 2rem 0

.grid-container
    position: relative
    display: flex
    flex-wrap: wrap
    gap: 3rem
    padding: 5rem 0 2rem 0 
    z-index: 2

    .biografia-grid-content
        /* -webkit-box-shadow: 0px 0px 23px -2px rgba(41, 41, 41, 0.31) */
        /* box-shadow: 0px 0px 23px -2px rgba(41, 41, 41, 0.31) */
        /* border-radius: 5px */

        .grid-images-text

            h2
                color: white
                text-shadow: 2px 2px 2px variables.$dark-cherry-color

        
        .grid-images
            width: 45vw 
            height: 55vh
            position: relative
            background-color: white

            &:hover 
                
            .grid-images-text
                width: inherit
  
                h2
                    font-size: 2.5rem
                    display: flex
                    justify-content: center
                    align-items: center
                    opacity: 1
                    transition: margin-right 2s ease-in-out .5s
                    transition-delay: 500ms
                    

                img
                    object-fit: cover
                    object-position: top
                    filter: grayscale(100%)
                    

                    &:hover
                        filter: grayscale(0)
            

            .grid-images-text
                height: auto
                position: absolute
                z-index: 1
                right: 0
                
                /* top: 50% */
                /* translate: -50% -50%  */
                /* transform: rotate(-90deg)  */

            img
                width: inherit
                height: inherit
                object-fit: cover
                object-position: top
                filter: grayscale(100%)

                &:hover
                    filter: grayscale(0) 

            .grid-image-country
                position: absolute
                bottom: 0
                left: 0
                z-index: 1
                padding: 0 2rem
                

            .grid-images-text, .grid-image-country
                h2, h3
                    color: variables.$main-background-color
                    text-shadow: 2px 2px 2px variables.$dark-cherry-color

.tab-content-body-bg
    width: 100%
    margin: 0 auto
    padding: 0
    background-color: rgba(160, 129, 143, 0.1)
    border-top: 1px solid variables.$cherry-color


    .tab-content-body
        width: 90vw
        padding-top: 1rem 
        margin-bottom: 2rem
        


.youtube-embed
    width: 100%
    height: auto
    padding: 2rem 0
    display: flex
    justify-content: center

    iframe
        width: 90%
        height: auto
        border: none
        aspect-ratio: 16/9
        

.text-container
    padding: 2rem
    height: auto
    display: flex
    justify-content: center
    /* background-color: variables.$dark-background */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) */

    .text-content
        width: 100vw
        height: auto
        
        p
            position: relative
            z-index: 2
            width: 90vw
            margin: 0 auto
            /* color: variables.$navbar-background-color */

.news-container
    height: 100%
    margin: 0 auto

    img
        height: 100%

    .news-wrapper
        /* background-image: url("https://live.staticflickr.com/65535/54319069184_ceea7e6148_k.jpg") */
        background-position: 0 0
        background-size: auto 100%
        background-repeat: repeat
        padding-top: 2rem
        width: 100%

    .news-content
        width: inherit
        display: inline-block
        padding-top: 1rem
        border-bottom: 1px solid variables.$dark-cherry-color-opacity

        &:nth-child(2n + 1)
            .news-image
                float: left
        
        .news-image
            width: 47%
            float: right 
            padding: 2rem 2rem 1rem 2rem

            img 
                width: 100%
                height: 50vh

        .news-text
            width: 90vw
            margin: 0 auto
            

            p
                width: 100%
            

/*         .news-content
            display: inline-flex
            padding: 1rem 0
            align-items: flex-start

            &:nth-child(2n + 1)
                flex-direction: row-reverse

            .news-image, .news-text
                width: 50% 
                padding: 2rem
                z-index: 1
                top: 0
                margin-left: auto
                margin-right: auto

            .news-image
                border: 1px solid red
                img
                    width: 100%
                    height: 50vh
                    object-fit: cover
                    flex-shrink: 0
  
            .news-text
                border-bottom: 1px solid variables.$dark-cherry-color-opacity
                margin: 0 1rem
                height: fit-content
                border-radius: 0
                flex: 1
                border: 1px solid blue  */

/* Animations */

@keyframes fadeInUp 
    from 
        opacity: 0
        -webkit-transform: translate3d(0, 100%, 0)
        transform: translate3d(0, 100%, 0)

    to 
        opacity: 1
        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)
 
.animate__fadeInUp
    -webkit-animation-name: fadeInUp
    animation-name: fadeInUp

.animate__fadeInDown
    -webkit-animation-name: fadeInDown
    animation-name: fadeInDown

.animate__fadeOutUp
    -webkit-animation-name: fadeOutUp
    animation-name: fadeOutUp

.animate__fadeIn
    -webkit-animation-name: fadeIn
    animation-name: fadeIn

.animate__fadeOut
    -webkit-animation-name: fadeOut
    animation-name: fadeOut

.grid-images, .gallery-header, .gallery-image img, .agenda-information, .tabs-box-container, .tab-content-body, .contact-content, .title, .text-content, .news-content
    animation: fadeInUp
    animation-duration: 2s

.animate__delay-4s	
    .text-container
        --animate-delay: 4s

.modal-content
    animation: fadeInDown
    animation-duration: 2s

.landpage-animation-box
    animation: fadeIn
    animation-duration: 4s

.modal-content 
    will-change: transform, opacity


.text-container
    @keyframes opacity

        from 
            opacity: 0
            -webkit-transform: translate3d(0, 100%, 0)
            transform: translate3d(0, 100%, 0)

        to 
            opacity: 1
            -webkit-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)

    
    -webkit-animation-name: fadeInUp
    animation-name: fadeInUp

    
    animation: fadeInUp
    animation-duration: 2s

.error-page
    @include mixins.flex-column-center
    padding-top: 10rem
    height: 100vh

/* Music wave animation */

@keyframes quiet 
    25%
        transform: scaleY(.6)
    
    50%
        transform: scaleY(.4)
    
    75%
        transform: scaleY(.8)

@keyframes normal 
    25%
        transform: scaleY(1)
    
    50%
        transform: scaleY(.4)
    
    75%
        transform: scaleY(.6)

@keyframes loud 
    25%
        transform: scaleY(1)
    
    50%
        transform: scaleY(.4)
    
    75%
        transform: scaleY(1.2)


/* Media Queries */

@media screen and (min-width: 1500px)
    .footer-container
        .footer-content
            padding: 0 8.3vw

    .grid-container
        .grid-content
            /* width: 85vw */

@media screen and (max-width: variables.$breakpoint-xl)
    .footer-container
        .footer-content
            .footer-icons
                width: 40vw

    .image-content
        width: 100%
        height: 100vh
        position: fixed

    .modal
        .modal-content 
            overflow-y: scroll
            height: 80%
            width: 80vw

            .modal-content-wrap
                flex-wrap: wrap-reverse
                height: auto

                .modal-image, .modal-text
                    width: 100%
                    padding: 0

                    .grid-modal-images
                        display: flex
                        justify-content: center
                        position: relative
                        width: inherit

                        .modal-image1, .modal-image2, .modal-image3
                            width: 47%
                            height: auto
                        

/*                         .modal-image1, .modal-image2, .modal-image3 
                            position: absolute

                            img
                            width: 50vw */

/*                         .modal-image1
                            left: 0
                            top: 0 */

/*                         .modal-image2
                            left: 4rem
                            top: 20rem
                            z-index: 2 */

/*                         .modal-image3
                            right: 0
                            top: 9rem */


        




@media screen and (max-width: variables.$breakpoint-lg)
    .navbar-mobile-container
        display: block
        position: fixed
        z-index: 3
        width: 100vw


        nav ul li
            font-size: variables.$font-size-mobile

            a
                font-weight: variables.$font-weight-medium

    .navbar-container
        display: none

    .navlinks-props
        @include mixins.flex-column-center
        gap: 4rem
        height: 100%

    .agenda-container, .grid-container
        /*@include mixins.smaller-padding-top
        .agenda-content
            .agenda-information
                flex-direction: column
                width: 90vw
                padding-bottom: 2rem

                img
                    width: inherit
                    height: auto

                .agenda-information-place-time 
                    width: inherit
                    padding-top: 2rem

    .footer-container
        .footer-content
            display: flex
            flex-direction: column
            text-align: center
            padding: 0
            text-align: center

            .footer-icons
                width: 100vw
                display: flex
                flex-direction: column
                justify-content: center

    .page-title-container
        padding: 4.5rem 0 2rem 0

    .contact-container

        .contact-content
            flex-wrap: wrap

            .contact
                @include mixins.flex-column   
            
            .contact, .contact-form
                width: 100%
                border-radius: 0

            .contact
                padding: 0
                .contact-text-container
                    width: inherit
                    /* padding: 0 2rem 2rem 2rem */ 

                    p
                        width: 90vw

    .contact-form-container

        .contact-inputs  

            input, textarea
                width: inherit


    .news-container
        .news-wrapper
            height: 100%
            padding-top: 0
            display: flex
            flex-direction: column
            justify-items: center

            .news-content

                .news-image, .news-text
                    width: auto

                .news-text
                    padding: 0 2em

                .news-image  
                    float: none

    .fixed-bg-image-container
        .fixed-bg          
            top: -10rem

    .gallery-header p
        height: 70vh

    .grid-container
        .biografia-grid-content
            .grid-images
                width: 42vw

    .navbar-mobile-container
        .navbar-mobile-content
            top: 3vh

    .youtube-embed
        iframe
            width: inherit

@media screen and (min-width: variables.$breakpoint-sm) and (max-width: variables.$breakpoint-lg)
    .logo
        img
            width: 12rem



@media screen and (max-width: variables.$breakpoint-md)
    
    .fixed-bg-image-container
        .fixed-bg          
            top: -20rem

    .gallery-header p
        height: 50vh

    .modal
        .modal-content 
            .modal-content-wrap
                .modal-image, .modal-text
                    .grid-modal-images
                        .modal-image1, .modal-image2, .modal-image3
                            width: inherit
                            height: auto

@media screen and (max-width: variables.$breakpoint-sm)
    .logo
        img
            width: 40vw



    .youtube-embed
        padding: 0.5rem 0

        iframe
            aspect-ratio: 16/9

    .page-title-container
        padding: 5.5rem 0 2rem 0

    .grid-container
        .biografia-grid-content
            .grid-images
                width: 90vw

    .gallery-header p
        height: 40vh

    .landpage-animation-box
        padding: 2rem

    .navbar-mobile-container
        .navbar-mobile-content
            .mobile-logo
                padding-left: 1rem

            .mobile-menu
                padding-right: 1rem

@media screen and ( max-width: 450px)
    .navlinks-props
        gap: 2rem

@media screen and ( max-width: variables.$breakpoint-xs  )
    .fixed-bg-image-container
        .fixed-bg          
            top: -28rem

    .gallery-header 
        height: 30vh
        padding: 0 1rem

    .navlinks-props
        gap: 1rem

        
    
                        
                    
                        

    

        




